/* ------------------------------------------NAVBAR FOR MOBILE AND DESKTOP */
/* #root{
  max-width: 1280px;
  margin: 0 auto;
  position: relative;
} */

.all-navbar {
  background-color: var(--slate-700);
}
/* for fix navbar content center (all screen) */
.container {
  max-width: 1280px;
  margin: 0 auto;
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0.2rem;
  border-radius: 1rem;
}
.navbar__logo {
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}
.navbar__search {
  border-radius: 0.4rem;
  background-color: var(--slate-500);
  padding: 0.2rem;
  /* color: var(--slate-900); */
}
.navbar__result {
  font-size: 0.5rem;
  font-weight: bold;
}
.navbar__icon {
  position: relative;
  cursor: pointer;
}
.navbar__badge-icon {
  background-color: var(--rose-500);
  border-radius: 50%;
  width: 12px;
  height: 12px;
  font-size: 8px;
  position: absolute;
  top: -5px;
  right: -5px;
  display: flex;
  justify-content: center;
  color: var(--slate-100);
  font-weight: bold;
}
.navbar__hearticon {
  width: 1.2rem;
  height: 1.2rem;
  color: var(--rose-600);
}
.navbar__search::placeholder {
  color: var(--slate-300);
  font-weight: bold;
  font-size: 0.8rem;
}
/* END NAVBAR FOR MOBILE AND DESKTOP-------------------------------------- */

/*-------------------------- STYLE FOR CHARACTER LIST && CHARACTER DETAIL  */
.main {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

/* END STYLE FOR CHARACTER LIST && CHARACTER DETAIL --------------------   */

/*-------------------------------------------------------- CHARACTER LIST  */

.all-character__list {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}
.character-list {
  background-color: var(--slate-800);
  border-radius: 1rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 0.8rem;
}
.character-list > div:nth-child(2) {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.character__image {
  border-radius: 1rem;
}
.character__image img {
  width: 98px;
  height: 100px;
  border-radius: 0.5rem;
  margin-right: 0.4rem;
}
.character__name {
  font-weight: bold;
  margin-bottom: 0.4rem;
}
.status__color {
  display: block;
  width: 12px;
  height: 12px;
  background-color: var(--rose-600);
  border-radius: 50%;
  margin-left: 0.3rem;
}
.status__color-live {
  display: block;
  width: 12px;
  height: 12px;
  background-color: var(--green-600);
  border-radius: 50%;
}
.character__status {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: 0.1rem;
}
.all-character__list .character-list:nth-child(2) .character__status {
  margin-left: 0.3rem;
}
.character__eyeCheck{
  background-color: transparent;
}
.eyeCheck {
  width: 1.2rem;
  height: 1.2rem;
  color: var(--rose-600);
  cursor: pointer;
}
/* END CHARACTER LIST----------------------------------------------------  */

/* -------------------------------------------------------CHARACTER DETAIL */
.character-detail {
  display: flex;
  flex-direction: column;
}
.character__image-detail {
  margin-right: 0.3rem;
}
.character__image-detail img {
  width: 150px;
  height: 180px;
  border-radius: 1rem;
}
.all__detail,
.all__episode {
  background-color: var(--slate-800);
  margin-bottom: 1rem;
  padding: 1rem 0.8rem;
  border-radius: 1rem;
}
.all__detail {
  display: flex;
  justify-content: start;
  flex-direction: row;
  align-items: center;
}
.character__status-detail {
  display: flex;
  align-items: center;
}
.status__description {
  font-weight: bold;
}

.character__location {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 1rem;
  margin-left: 0.1rem;
}
.location__detail {
  margin-bottom: 1rem;
}
.location__title {
  color: var(--slate-500);
}
.location__detail {
  font-weight: bold;
}
.location__button-add {
  padding: 0.7rem 1rem;
  border-radius: 1rem;
  background-color: var(--slate-500);
  color: var(--slate-200);
  font-weight: bold;
  cursor: pointer;
}
.all__episode {
  display: flex;
  flex-direction: column;
}
.episode__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5rem;
  font-weight: bold;
  color: var(--slate-400);
}
.episode__icon {
  width: 1.4rem;
  height: 1.4rem;
  cursor: pointer;
}
.episode__role {
  margin-bottom: 0.5rem;
  display: flex;
  justify-content: space-between;
  font-size: 0.8rem;
  white-space: nowrap;
}
.episode__date {
  background-color: var(--slate-500);
  padding: 0.2rem 1rem;
  border-radius: 1rem;
  font-weight: bold;
  font-size: 0.6rem;
  cursor: pointer;
}
.role__title {
  font-weight: bold;
}
/* END CHARACTER DETAIL--------------------------------------------------- */

/*-------------------------------------------------------DESKTOP APPROUCH  */
@media screen and (min-width: 768px) {
  .navbar {
    padding: 1.5rem 2rem;
  }
  .navbar__logo {
    font-size: 1.2rem;
  }
  .navbar__search {
    padding: 0.5rem;
  }
  .navbar__result {
    font-size: 1rem;
  }
  .navbar__hearticon {
    width: 1.5rem;
    height: 1.5rem;
  }
  .navbar__badge-icon {
    width: 14px;
    height: 14px;
    font-size: 10px;
  }
  .main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 2rem;
    gap: 1.5rem;
  }
  .character-detail {
    flex: 1;
  }
  .character__image-detail {
    margin-right: 1rem;
  }
  .character__image-detail img {
    width: 150px;
    height: 180px;
    border-radius: 1rem;
  }
  .all-character__list {
    /* width: 100%; */
    width: 28rem;
    
  }
  .episode__role {
    font-size: 1.1rem;
  }
  .episode__date {
    font-size: 0.7rem;
  }
}

@media screen and (min-width: 1024px) {
  .navbar {
    padding: 1.5rem 4rem;
  }
  .navbar__logo {
    font-size: 1.4rem;
  }
  .navbar__search {
    padding: 0.8rem;
  }
  .navbar__result {
    font-size: 1.2rem;
  }
  .navbar__hearticon {
    width: 2rem;
    height: 2rem;
  }
  .navbar__badge-icon {
    width: 18px;
    height: 18px;
    font-size: 12px;
  }
  .main {
    padding: 0 4rem;
  }
  .episode__date {
    font-size: 1rem;
  }
}

/* END DESKTOP APPROUCH--------------------------------------------------  */
